* {
  padding: 0;
  margin: 0;
}
.owl-dot:focus {
  outline: none;
}
.owl-dot span {
  background-color: #ffcc00 !important;
  border: 1px solid #ffcc00 !important;
}
.owl-dot.active span {
  background-color: transparent !important;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  margin: auto !important;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 35px;
  color: #ffcc00 !important;
}
.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-next:focus {
  outline: none;
  background-color: transparent;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background: none;
  transform: scale(1.3);
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}
.wrapper {
  padding-top: 100px;
}
.wrapper .container .main-block .top {
  text-align: center;
}
.wrapper .container .main-block .top .article {
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
  color: #898f8f;
  text-transform: uppercase;
}
.wrapper .container .main-block .top .title {
  font-family: 'Roboto', sans-serif;
  color: #ffcc00;
  font-weight: 1000;
  font-size: 45px;
  line-height: 15px;
  text-transform: uppercase;
}
.wrapper .container .main-block .top .icon-lines .fas {
  margin-top: 20px;
  color: #ffcc00;
}
.wrapper .container .main-block .top .icon-lines span {
  position: relative;
}
.wrapper .container .main-block .top .icon-lines span::before {
  position: absolute;
  content: "";
  top: 12px;
  left: -190px;
  width: 170px;
  height: 1px;
  background-color: #ffcc00;
}
.wrapper .container .main-block .top .icon-lines span::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 7px;
  width: 170px;
  height: 1px;
  background-color: #ffcc00;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block {
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side {
  position: relative;
  border: 1px solid #ffcc00;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side img {
  margin: 15px;
  width: 390px;
  height: 390px;
  border: 1px solid #ffcc00;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side::after {
  position: absolute;
  content: "";
  top: -45px;
  left: 486px;
  width: 1px;
  height: 520px;
  background-color: #ffcc00;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side {
  padding-top: 25px;
  text-align: center;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .name {
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  font-size: 30px;
  color: #666666;
  position: relative;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .name::after {
  position: absolute;
  content: "";
  top: 60px;
  left: 165px;
  width: 80px;
  height: 1px;
  background-color: #ffcc00;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .work {
  margin-top: 30px;
  color: #666666;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .links {
  margin-top: 25px;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .links a {
  text-decoration: none;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .links a i {
  font-size: 12px;
  color: #cccccc;
  border: 2px solid #cccccc;
  border-radius: 50%;
  padding: 5px 7px 5px 7px;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .links a:nth-child(2) i {
  padding: 5px 5px 5px 5px;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .links a:nth-child(3) i {
  padding: 5px 4px 5px 4px;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .links a:last-child i {
  padding: 5px 6px 5px 6px;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .text {
  width: 420px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin-top: 35px;
  margin-bottom: 50px;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .view-profile {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #666666;
  padding: 3px 7px 3px 7px;
  border: 1px solid #ffcc00;
  position: relative;
}
.wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .view-profile::before {
  cursor: default;
  position: absolute;
  content: "";
  top: -28px;
  left: 27px;
  width: 50px;
  height: 3px;
  background-color: #ffcc00;
}
@media (max-width: 767.98px) {
  .wrapper {
    padding-top: 10px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side {
    border: none;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side::after {
    display: none;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 280px;
    height: 300px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .name::after {
    display: none;
    left: 430px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .work {
    margin-top: 0px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .links {
    margin-top: 0px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .view-profile::before {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .wrapper {
    padding-top: 10px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side {
    border: none;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side::after {
    display: none;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .left-side img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 280px;
    height: 300px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .name::after {
    display: none;
    left: 430px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .work {
    margin-top: 0px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .links {
    margin-top: 0px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .wrapper .container .main-block .content-block .owl-carousel .item .item-block .right-side .view-profile::before {
    display: none;
  }
}
